.nav-container {
  background-color: white;
  color: gray;
  position: fixed;
  width: 85%;
  top: 0%;
  padding: 10px;
  text-align: left;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav-container img {
  width: 50px;
}

.nav-container div {
  display: flex;
  position: relative;
  width: 40%;
}

.nav-container div input {
  border-radius: 20px;
  width: 100%;
  padding: 10px 30px !important;
}

.search-icon {
  position: absolute;
  top: 35%;
  left: 3%;
}

.mic-icon {
  position: absolute;
  top: 35%;
  right: 2%;
}

.nav-container button {
  width: fit-content;
  background-color: transparent;
  color: black;
  border-radius: 50px;
  min-width: fit-content;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: 0px 0px 6px #ccc;
  font-size: 16px;
  margin-right: 100px;
}

.nav-container button:hover {
  background-color: rgb(10, 180, 236);
}
